body {
    background: #e2d6f5;
}

main {
    background: white;
    margin: 20px 0;
    padding: 10px;
}

.lista {
    background: rgb(255, 255, 255);
    margin: 20px 0;
    padding: 10px;
}

.center {
    margin: 0 auto;
    width: 200px;
    background: black;
    padding: 20px;
    color: white;
}

.centrodiv {
    margin: 0 auto;
    width: fit-content;
}

.titulo {
    margin: 0 auto;
    width: fit-content;
    color: white;
    font-weight: bold;
    font-weight: bolder;
    padding: 2%;
}

.titulo2 {
    color: black;
}

.sair {
    color: white;
    font-size: 80%;
}

.centroPesq {
    margin: 0 auto;
    width: fit-content;
}

.right {
    text-align: right;
}